body {
    color: #2d2d2d;
    background-color: #fbfbfb;
}

.main-contain {
    margin-top: 70px;
}

.problem-list {
    list-style: none;
    padding-left: 0;
}

.problem-list li{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.problem-list > .container {
    padding: 0;
    margin: 0;
}

.item-data-info {
    text-align: center;
    padding: 0 5px
}

.tab-nav {
    margin-bottom: 10px;
}

.answer-counts {
    color: #ffffff;
}

.view-counts {
    color: rgba( 0, 0, 0, 0.409 );
}
